@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.loginBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loginContainer h4, .loginContainer p, .loginContainer h1 {
  text-align: center;
}

.loginContainer h4 {
  margin: 0 0 10px;
}

.loginContainer p {
  color: gray;
}

.loginContainer div{
  margin: 10px 0;
}

.loginContainer .inputGroup{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup input{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.inputGroup button{
  padding: 8px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.dashboardHeader{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.dashboardHeader .logo{
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
}

.dashboardHeader .btn-logout{
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 3px;
  cursor: pointer;
}

.dashboardHeader .title{
  display: flex;
  gap: 10px;
  align-items: center;
}

.dashboardContent{
  padding: 10px;
}

.dashboardContent .parkingInformation{
  margin: 10px 20px;
}

.dashboardContent .information{
  display: flex;
  justify-content: space-evenly;
}

.dashboardContent .card{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardContent .card i{
  padding: 10px;
  border-radius: 35%;
}

.dashboardContent .fa-car{
  color: #3b76fc;
  background-color: #daeaff;
}

.dashboardContent .fa-circle-check{
  color: #01a73e;
  background-color: #dafde7;
}

.dashboardContent .fa-circle-xmark{
  color: #e7010a;
  background-color: #fdd8d8;
}